<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="SchemaPath" value="path to aes_services_import.xsd"/>
        <add key="ExportPath" value="path to save XML export file"/>
        <add key="DbConnectionStringAZ" value="connection string"/>
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
