<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="EsccWebTeam.Egms">
      <section name="ControlledListXml" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="SchemaPath" value="path to Access East Sussex XML schema file: aes_services_import.xsd"/>
    <add key="ProxyServer" value="IP address"/>
    <add key="ProxyUser" value="username"/>
    <add key="ProxyPassword" value="password"/>
    <add key="ProxyDomain" value="domain"/>
    <add key="DbConnectionStringAZ" value="connection string for East Sussex A-Z"/>
    <add key="WebServiceUser" value="username for Access East Sussex web service"/>
    <add key="WebServicePassword" value="password for Access East Sussex web service"/>
  </appSettings>

  <EsccWebTeam.Egms>
    <ControlledListXml>
      <add key="Ipsv" value="file path to Taxonomy XML version of IPSV"/>
      <add key="Lgcl" value="file path to Taxonomy XML version of LGCL"/>
      <add key="LgclIpsvMapping" value="file path to Taxonomy XML version of LCGL to IPSV mapping"/>
    </ControlledListXml>
  </EsccWebTeam.Egms>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
