<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="DbConnectionStringAZ" value="connection string" />
    </appSettings>
    
    <system.web>
    <authorization>
      <allow roles="group name"/>
      <deny users="*"/>
    </authorization>
    <compilation targetFramework="4.0"/>
      <pages clientIDMode="AutoID" masterPageFile="~/masterpages/mobile.master">
          <controls>
              <!-- Add controls which are declared at root of site, repeated here in dev only for Visual Studio intellisense-->
              <add tagPrefix="Egms" namespace="EsccWebTeam.Egms" assembly="EsccWebTeam.Egms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
              <add tagPrefix="Egms" namespace="eastsussexgovuk.webservices.EgmsWebMetadata" assembly="EsccWebTeam.Egms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
              <add tagPrefix="FormControls" namespace="eastsussexgovuk.webservices.FormControls" assembly="EsccWebTeam.FormControls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
          </controls>
      </pages>
  </system.web>
</configuration>